In [73]:
import pandas as pd
import numpy as np
import re
import sklearn
import xgboost as xgb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier,GradientBoostingClassifier, ExtraTreesClassifier


from sklearn.svm import SVC
from sklearn.cross_validation import KFold

In [74]:
# Load in the train and test datasets
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')

# Store our passenger ID for easy access
PassengerId = test['PassengerId']

train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S

In [75]:
full_data = [train, test]

train['Name_length'] = train['Name'].apply(len)
test['Name_length'] = test['Name'].apply(len)

train['Has_Cabin'] = train['Cabin'].apply(lambda x:0 if type(x) == float else 1)
test['Has_Cabin'] = test['Cabin'].apply(lambda x:0 if type(x) == float else 1)

for dataset in full_data:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
for dataset in full_data:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize']==1, 'IsAlone'] = 1
for dataset in full_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
for dataset in full_data:
    dataset['Fare'] = dataset['Fare'].fillna(train['Fare'].median())
# train['CategoricalFare'] = pd.qcut(train['Fare'], 4)

for dataset in full_data:
    age_avg = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size = age_null_count)
    dataset['Age'][np.isnan(dataset['Age'])] = age_null_random_list
    dataset['Age'] = dataset['Age'].astype(int)

# Define function to extract titles from passenger names
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""
# Create a new feature Title, containing the titles of passenger names
for dataset in full_data:
    dataset['Title'] = dataset['Name'].apply(get_title)
# Group all non-common titles into one single grouping "Rare"
for dataset in full_data:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

for dataset in full_data:
    # Mapping Sex
    dataset['Sex'] = dataset['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
    
    # Mapping titles
    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
    
    # Mapping Embarked
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
    
    # Mapping Fare
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] 						        = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] 							        = 3
    dataset['Fare'] = dataset['Fare'].astype(int)
    
    # Mapping Age
    dataset.loc[ dataset['Age'] <= 16, 'Age'] 					       = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age']

/Users/doccccu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [76]:
# Feature selection
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp']
train = train.drop(drop_elements, axis = 1)
test  = test.drop(drop_elements, axis = 1)

In [77]:
train.head(100)

,Survived,Pclass,Sex,Age,Parch,Fare,Embarked,Name_length,Has_Cabin,FamilySize,IsAlone,Title
0,0,3,1,1,0,0,0,23,0,2,0,1
1,1,1,0,2,0,3,1,51,1,2,0,3
2,1,3,0,1,0,1,0,22,0,1,1,2
3,1,1,0,2,0,3,0,44,1,2,0,3
4,0,3,1,2,0,1,0,24,0,1,1,1
5,0,3,1,1,0,1,2,16,0,1,1,1
6,0,1,1,3,0,3,0,23,1,1,1,1
7,0,3,1,0,1,2,0,30,0,5,0,4
8,1,3,0,1,2,1,0,49,0,3,0,3
9,1,2,0,0,0,2,1,35,0,2,0,3
10,1,3,0,0,1,2,0,31,1,3,0,2
11,1,1,0,3,0,2,0,24,1,1,1,2
12,0,3,1,1,0,1,0,30,0,1,1,1
13,0,3,1,2,5,3,0,27,0,7,0,1
14,0,3,0,0,0,0,0,36,0,1,1,2
15,1,2,0,3,0,2,0,32,0,1,1,3
16,0,3,1,0,1,2,2,20,0,6,0,4
17,1,2,1,1,0,1,0,28,0,1,1,1
18,0,3,0,1,0,2,0,55,0,2,0,3
19,1,3,0,1,0,0,1,23,0,1,1,3
20,0,2,1,2,0,2,0,20,0,1,1,1
21,1,2,1,2,0,1,0,21,1,1,1,1
22,1,3,0,0,0,1,2,27,0,1,1,2
23,1,1,1,1,0,3,0,28,1,1,1,1
24,0,3,0,0,1,2,0,29,0,5,0,2
25,1,3,0,2,5,3,0,57,0,7,0,3
26,0,3,1,2,0,0,1,23,0,1,1,1
27,0,1,1,1,2,3,0,30,1,6,0,1
28,1,3,0,1,0,0,2,29,0,1,1,2
29,0,3,1,1,0,0,0,19,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
70,0,2,1,1,0,1,0,26,0,1,1,1
71,0,3,0,0,2,3,0,26,0,8,0,2
72,0,2,1,1,0,3,0,20,0,1,1,1
73,0,3,1,1,0,2,1,27,0,2,0,1
74,1,3,1,1,0,3,0,13,0,1,1,1
75,0,3,1,1,0,0,0,23,1,1,1,1
76,0,3,1,2,0,0,0,17,0,1,1,1
77,0,3,1,1,0,1,0,24,0,1,1,1
78,1,2,1,0,2,2,0,29,0,3,0,4
79,1,3,0,1,0,1,0,24,0,1,1,2
80,0,3,1,1,0,1,0,20,0,1,1,1
81,1,3,1,1,0,1,0,27,0,1,1,1
82,1,3,0,1,0,0,2,30,0,1,1,2
83,0,1,1,1,0,3,0,23,0,1,1,1
84,1,2,0,1,0,1,0,19,0,1,1,2
85,1,3,0,2,0,2,0,55,0,4,0,3
86,0,3,1,0,3,3,0,22,0,5,0,1
87,0,3,1,1,0,1,0,29,0,1,1,1
88,1,1,0,1,2,3,0,26,1,6,0,2
89,0,3,1,1,0,1,0,22,0,1,1,1
90,0,3,1,1,0,1,0,20,0,1,1,1
91,0,3,1,1,0,0,0,26,0,1,1,1
92,0,1,1,2,0,3,0,27,1,2,0,1
93,0,3,1,1,2,2,0,23,0,4,0,1
94,0,3,1,3,0,0,0,17,0,1,1,1
95,0,3,1,1,0,1,0,27,0,1,1,1
96,0,1,1,71,0,3,1,25,1,1,1,1
97,1,1,1,1,1,3,1,31,1,2,0,1
98,1,2,0,2,1,2,0,36,0,2,0,3
99,0,2,1,2,0,2,0,17,0,2,0,1

In [78]:
# Some useful parameters which will come in handy later on
ntrain = train.shape[0]
ntest = test.shape[0]
SEED = 0 # for reproducibility
NFOLDS = 5 # set folds for out-of-fold prediction
kf = KFold(ntrain, n_folds= NFOLDS, random_state=SEED)

# Class to extend the Sklearn classifier
class SklearnHelper(object):
    def __init__(self, clf, seed=0, params=None):
        params['random_state'] = seed
        self.clf = clf(**params)

    def train(self, x_train, y_train):
        self.clf.fit(x_train, y_train)

    def predict(self, x):
        return self.clf.predict(x)
    
    def fit(self,x,y):
        return self.clf.fit(x,y)
    
    def feature_importances(self,x,y):
        print(self.clf.fit(x,y).feature_importances_)

In [79]:
def get_oof(clf, x_train, y_train, x_test):
    oof_train = np.zeros((ntrain,))
    oof_test = np.zeros((ntest,))
    oof_test_skf = np.empty((NFOLDS, ntest))

    for i, (train_index, test_index) in enumerate(kf):
        x_tr = x_train[train_index]
        y_tr = y_train[train_index]
        x_te = x_train[test_index]

        clf.train(x_tr, y_tr)

        oof_train[test_index] = clf.predict(x_te)
        oof_test_skf[i, :] = clf.predict(x_test)

    oof_test[:] = oof_test_skf.mean(axis=0)
    return oof_train.reshape(-1, 1), oof_test.reshape(-1, 1)

In [80]:
# Put in our parameters for said classifiers
# Random Forest parameters
rf_params = {
    'n_jobs': -1,
    'n_estimators': 500,
     'warm_start': True, 
     #'max_features': 0.2,
    'max_depth': 6,
    'min_samples_leaf': 2,
    'max_features' : 'sqrt',
    'verbose': 0
}

# Extra Trees Parameters
et_params = {
    'n_jobs': -1,
    'n_estimators':500,
    #'max_features': 0.5,
    'max_depth': 8,
    'min_samples_leaf': 2,
    'verbose': 0
}

# AdaBoost parameters
ada_params = {
    'n_estimators': 500,
    'learning_rate' : 0.75
}

# Gradient Boosting parameters
gb_params = {
    'n_estimators': 500,
     #'max_features': 0.2,
    'max_depth': 5,
    'min_samples_leaf': 2,
    'verbose': 0
}

# Support Vector Classifier parameters 
svc_params = {
    'kernel' : 'linear',
    'C' : 0.025
    }

In [81]:
# Create 5 objects that represent our 4 models
rf = SklearnHelper(clf=RandomForestClassifier, seed=SEED, params=rf_params)
et = SklearnHelper(clf=ExtraTreesClassifier, seed=SEED, params=et_params)
ada = SklearnHelper(clf=AdaBoostClassifier, seed=SEED, params=ada_params)
gb = SklearnHelper(clf=GradientBoostingClassifier, seed=SEED, params=gb_params)
svc = SklearnHelper(clf=SVC, seed=SEED, params=svc_params)

In [82]:
# Create Numpy arrays of train, test and target ( Survived) dataframes to feed into our models
y_train = train['Survived'].ravel()
train = train.drop(['Survived'], axis=1)
x_train = train.values # Creates an array of the train data
x_test = test.values # Creats an array of the test data

In [83]:
# Create our OOF train and test predictions. These base results will be used as new features
et_oof_train, et_oof_test = get_oof(et, x_train, y_train, x_test) # Extra Trees
rf_oof_train, rf_oof_test = get_oof(rf,x_train, y_train, x_test) # Random Forest
ada_oof_train, ada_oof_test = get_oof(ada, x_train, y_train, x_test) # AdaBoost 
gb_oof_train, gb_oof_test = get_oof(gb,x_train, y_train, x_test) # Gradient Boost
svc_oof_train, svc_oof_test = get_oof(svc,x_train, y_train, x_test) # Support Vector Classifier

print("Training is complete")

Training is complete

In [84]:
rf_feature = rf.feature_importances(x_train,y_train)
et_feature = et.feature_importances(x_train, y_train)
ada_feature = ada.feature_importances(x_train, y_train)
gb_feature = gb.feature_importances(x_train,y_train)

[ 0.12663054  0.19968743  0.03306454  0.01999824  0.07253106  0.02336837
  0.10733403  0.06388452  0.06845236  0.0133507   0.27169821]
[ 0.11929737  0.38058434  0.02121935  0.01738775  0.05626115  0.02798433
  0.04746244  0.08535617  0.04371669  0.02213672  0.17859367]
[ 0.026  0.01   0.024  0.064  0.038  0.01   0.696  0.012  0.046  0.008
  0.066]
[ 0.07697175  0.03966466  0.08265668  0.03387231  0.09558207  0.05317563
  0.40522283  0.01875187  0.06687023  0.02853712  0.09869485]

In [85]:
rf_feature = [0.12577156, 0.19794105, 0.03064258, 0.02005326, 0.07236749, 0.0240256, 0.10854299, 0.06635983, 0.06635979, 0.01279247, 0.27514337]
et_feature = [0.12149281, 0.37684247, 0.02173993, 0.01735772, 0.05633661, 0.02821249, 0.0477082, 0.08427819, 0.04232841, 0.02192453, 0.18177864]
ada_feature = [0.03, 0.01, 0.026, 0.062, 0.04, 0.01, 0.686, 0.014, 0.05, 0.004, 0.068]
gb_feature = [0.064541, 0.02954967, 0.10673647, 0.03007561, 0.1016413, 0.07036089, 0.40869459, 0.01952524, 0.06796494, 0.02552664, 0.07538364]
cols = train.columns.values
# Create a dataframe with features
feature_dataframe = pd.DataFrame( {'features': cols,
     'Random Forest feature importances': rf_feature,
     'Extra Trees  feature importances': et_feature,
      'AdaBoost feature importances': ada_feature,
    'Gradient Boost feature importances': gb_feature
    })

In [86]:
feature_dataframe

,AdaBoost feature importances,Extra Trees feature importances,Gradient Boost feature importances,Random Forest feature importances,features
0,0.030,0.121493,0.064541,0.125772,Pclass
1,0.010,0.376842,0.029550,0.197941,Sex
2,0.026,0.021740,0.106736,0.030643,Age
3,0.062,0.017358,0.030076,0.020053,Parch
4,0.040,0.056337,0.101641,0.072367,Fare
5,0.010,0.028212,0.070361,0.024026,Embarked
6,0.686,0.047708,0.408695,0.108543,Name_length
7,0.014,0.084278,0.019525,0.066360,Has_Cabin
8,0.050,0.042328,0.067965,0.066360,FamilySize
9,0.004,0.021925,0.025527,0.012792,IsAlone
10,0.068,0.181779,0.075384,0.275143,Title

In [87]:
# Scatter plot 
trace = go.Scatter(
    y = feature_dataframe['Random Forest feature importances'].values,
    x = feature_dataframe['features'].values,
    mode='markers',
    marker=dict(
        sizemode = 'diameter',
        sizeref = 1,
        size = 25,
#       size= feature_dataframe['AdaBoost feature importances'].values,
        #color = np.random.randn(500), #set color equal to a variable
        color = feature_dataframe['Random Forest feature importances'].values,
        colorscale='Portland',
        showscale=True
    ),
    text = feature_dataframe['features'].values
)
data = [trace]

layout= go.Layout(
    autosize= True,
    title= 'Random Forest Feature Importance',
    hovermode= 'closest',
#     xaxis= dict(
#         title= 'Pop',
#         ticklen= 5,
#         zeroline= False,
#         gridwidth= 2,
#     ),
    yaxis=dict(
        title= 'Feature Importance',
        ticklen= 5,
        gridwidth= 2
    ),
    showlegend= False
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig,filename='scatter2010')
print data

[{'text': array(['Pclass', 'Sex', 'Age', 'Parch', 'Fare', 'Embarked', 'Name_length',
       'Has_Cabin', 'FamilySize', 'IsAlone', 'Title'], dtype=object), 'y': array([ 0.12577156,  0.19794105,  0.03064258,  0.02005326,  0.07236749,
        0.0240256 ,  0.10854299,  0.06635983,  0.06635979,  0.01279247,
        0.27514337]), 'mode': 'markers', 'marker': {'sizeref': 1, 'colorscale': 'Portland', 'color': array([ 0.12577156,  0.19794105,  0.03064258,  0.02005326,  0.07236749,
        0.0240256 ,  0.10854299,  0.06635983,  0.06635979,  0.01279247,
        0.27514337]), 'sizemode': 'diameter', 'showscale': True, 'size': 25}, 'x': array(['Pclass', 'Sex', 'Age', 'Parch', 'Fare', 'Embarked', 'Name_length',
       'Has_Cabin', 'FamilySize', 'IsAlone', 'Title'], dtype=object), 'type': 'scatter'}]

In [88]:
# Create the new column containing the average of values

feature_dataframe['mean'] = feature_dataframe.mean(axis= 1) # axis = 1 computes the mean row-wise
feature_dataframe.head(3)

,AdaBoost feature importances,Extra Trees feature importances,Gradient Boost feature importances,Random Forest feature importances,features,mean
0,0.030,0.121493,0.064541,0.125772,Pclass,0.085451
1,0.010,0.376842,0.029550,0.197941,Sex,0.153583
2,0.026,0.021740,0.106736,0.030643,Age,0.046280

In [89]:
y = feature_dataframe['mean'].values
x = feature_dataframe['features'].values
data = [go.Bar(
            x= x,
             y= y,
            width = 0.5,
            marker=dict(
               color = feature_dataframe['mean'].values,
            colorscale='Portland',
            showscale=True,
            reversescale = False
            ),
            opacity=0.6
        )]

layout= go.Layout(
    autosize= True,
    title= 'Barplots of Mean Feature Importance',
    hovermode= 'closest',
#     xaxis= dict(
#         title= 'Pop',
#         ticklen= 5,
#         zeroline= False,
#         gridwidth= 2,
#     ),
    yaxis=dict(
        title= 'Feature Importance',
        ticklen= 5,
        gridwidth= 2
    ),
    showlegend= False
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='bar-direct-labels')

In [90]:
base_predictions_train = pd.DataFrame( {'RandomForest': rf_oof_train.ravel(),
     'ExtraTrees': et_oof_train.ravel(),
     'AdaBoost': ada_oof_train.ravel(),
      'GradientBoost': gb_oof_train.ravel()
    })
base_predictions_train.head()

   AdaBoost  ExtraTrees  GradientBoost  RandomForest
0         0           0              0             0
1         1           1              1             1
2         1           0              1             0
3         1           1              1             1
4         0           0              0             0

In [91]:
base_predictions_train

     AdaBoost  ExtraTrees  GradientBoost  RandomForest
0           0           0              0             0
1           1           1              1             1
2           1           0              1             0
3           1           1              1             1
4           0           0              0             0
5           0           0              0             0
6           0           0              0             0
7           0           1              1             0
8           1           0              1             1
9           1           1              1             1
10          1           1              1             1
11          1           1              1             1
12          0           0              0             0
13          0           0              0             0
14          0           1              1             1
15          1           1              1             1
16          0           0              0             0
17          0           0              0             0
18          0           1              0             1
19          1           1              1             1
20          0           0              0             0
21          0           0              0             0
22          1           1              1             1
23          0           0              0             0
24          0           0              0             0
25          0           0              0             0
26          0           0              0             0
27          0           1              1             1
28          1           1              0             1
29          0           0              0             0
..        ...         ...            ...           ...
861         0           0              0             0
862         1           1              1             1
863         0           0              0             0
864         0           0              0             0
865         1           1              1             1
866         1           1              1             1
867         0           0              0             0
868         0           0              0             0
869         1           1              1             1
870         0           0              0             0
871         1           1              1             1
872         1           0              0             0
873         0           0              0             0
874         1           1              1             1
875         1           1              1             1
876         0           0              0             0
877         0           0              0             0
878         0           0              0             0
879         1           1              1             1
880         1           1              1             1
881         0           0              0             0
882         1           0              0             0
883         0           0              0             0
884         0           0              0             0
885         0           0              0             0
886         0           0              0             0
887         1           1              1             1
888         0           0              0             0
889         0           0              0             0
890         0           0              0             0

[891 rows x 4 columns]

In [92]:
x_train = np.concatenate(( et_oof_train, rf_oof_train, ada_oof_train, gb_oof_train, svc_oof_train), axis=1)
x_test = np.concatenate(( et_oof_test, rf_oof_test, ada_oof_test, gb_oof_test, svc_oof_test), axis=1)

In [97]:
x_train

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 0.,  0.,  1.,  1.,  1.],
       ...,
       [ 0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

In [98]:
x_test

array([[ 0. ,  0. ,  0. ,  0. ,  0. ],
       [ 1. ,  1. ,  1. ,  0.8,  1. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ],
       ...,
       [ 0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ],
       [ 1. ,  1. ,  1. ,  1. ,  1. ]])

In [100]:
gbm = xgb.XGBClassifier(
    #learning_rate = 0.02,
 n_estimators= 2000,
 max_depth= 4,
 min_child_weight= 2,
 #gamma=1,
 gamma=0.9,                        
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread= -1,
 scale_pos_weight=1).fit(x_train, y_train)
predictions = gbm.predict(x_test)

In [101]:
predictions

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1])

In [102]:
StackingSubmission = pd.DataFrame({ 'PassengerId': PassengerId,
                            'Survived': predictions })
StackingSubmission.to_csv("StackingSubmission.csv", index=False)